# TUPLES

In [ ]:
# tuple olusturma yontemleri. tuple degistirilemez list degistirilebilir.

tuple()
()

In [7]:
print(tuple("techpro"))

('t', 'e', 'c', 'h', 'p', 'r', 'o')

In [3]:
tuple_1 = tuple("aslan")
print(type(tuple_1))

<class 'tuple'>

In [4]:
print(tuple(1453))

TypeError: 'int' object is not iterable

In [6]:
print(tuple([1,2,3]))

(1, 2, 3)

In [8]:
# tuple yapmak icin sonuna virgul koyariz

print(type(("techpro")))

print(type(("techpro",)))

print(("techpro"))

print(("techpro",))

<class 'str'>
<class 'tuple'>
techpro
('techpro',)

In [9]:
print(type((3,14)))

<class 'tuple'>

In [ ]:
# hocanın koduna bak burada eksik var

In [10]:
name_4 = "furkan",  "yusuf"
print(name_4)

('furkan', 'yusuf')

In [11]:
name_5 = "yahya",
print(name_5)

('yahya',)

In [13]:
tuple0 = ("ahmet", "mehmet") + ("ismail",)
print(tuple0)

('ahmet', 'mehmet', 'ismail')

In [14]:
tuple23 = ("ahmet", "mehmet") * 2
print(tuple23)

('ahmet', 'mehmet', 'ahmet', 'mehmet')

## indexing

In [16]:
tuple34 = ("ahmet", "mehmet", "ismail")
print(tuple34[0])
print(tuple34[0][3])

ahmet
e

In [17]:
tuple34 = ("ahmet", "mehmet", "ismail")
tuple34[0] = "faruk"  # tupple degistirilemez

TypeError: 'tuple' object does not support item assignment

In [18]:
print("mehmet" + "ali") # string string toplanması

mehmetali

In [19]:
print(("ali", "mehmet") + "zeki") # string ve tuple toplanamaz

TypeError: can only concatenate tuple (not "str") to tuple

## range()

In [21]:
# range fonksiyonu itterable'dır.

print(tuple(range(4, 15)))

print(list(range(4, 15)))

(4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14)
[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [24]:
print(tuple(range(4,15,2)))

print(tuple(range(3,15,3)))

(4, 6, 8, 10, 12, 14)
(3, 6, 9, 12)

In [1]:
potpori = (3, 4.5, False, [1, 2, 3], (4, 5, 6),"Halil")
print(potpori)
type(potpori[3])

(3, 4.5, False, [1, 2, 3], (4, 5, 6), 'Halil')

list

In [ ]:
tuple(range(4,15,1.5))  # tam sayılarla çalışır

iki tane nesne isteyin kullanıcıdan. type int ise toplayın

In [2]:
a = input("sayi giriniz")
b = input("sayi giriniz")

if a.isnumeric() and b.isnumeric():
    print(int(a) + int(b))
else:
    print( "girilen değerlerden biri veya ikisi int tipine uygun değil")

7

In [3]:
a = input("sayi giriniz")
b = input("sayi giriniz")

if a.isdigit() and b.isdigit():
    print(int(a) + int(b))
else:
    print( "girilen değerlerden biri veya ikisi int tipine uygun değil")

8

In [4]:
a = input("sayi giriniz")
b = input("sayi giriniz")

if a.isdecimal() and b.isdecimal():
    print(int(a) + int(b))
else:
    print( "girilen değerlerden biri veya ikisi int tipine uygun değil")

6

In [1]:
(1,3,4,3,2,4,3,3,3,32,1).count(3)   # kac tane 3 oldugunu dondurur

5